.theme-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #3b82f6;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 2000;
}

.light-mode {
  background-color: #f3f4f6;
  color: black;
}
